<% include ./include/header %>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <a href="/">HOME</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                <% include ./include/leftMenu %>
            </div>
            <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10">
                home summary
            </div>
        </div>
    </div>
</div>
<% include ./include/footer %>