<footer>
    <div class="container-fluid">
        <div class="common-bar"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    © Copyright
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="./js/jquery-1.12.4.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>