<div>
    <a href="/voyage">voyage list</a>
</div>
<div>
    <a href="/itinerary">itinerary list</a>
</div>
<div>
    <a href="/member">member list</a>
</div>
<div>
    <a href="/auth/destory">signout</a>
</div>